.select-items-wrap {
    position: absolute;
    z-index: 11;
    width: 300px;
    bottom: 0;
    left: 37px;
}

.select-items {
    position: absolute;
    bottom: 1px;
    background: #d6d4d4;
    width: 91%;
    padding: 10px;
    z-index: 1;
}

.select-item {
    margin-top: 10px;
    padding-left: 5px;
}

.select-item:hover {
    color: white;
    background: #40dc7e;
    cursor: pointer;
}

.item-icon {
    cursor: pointer;
}

nb-card-footer {
    padding: 20px;
    border-top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}