@import '../../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  ngx-user-chart {
    display: block;
    height: 400px !important;
    width: 100%;

    /deep/ chart,
    /deep/ .echart {
      display: block;
      height: 100%;
      width: 100%;
    }

    /deep/ .list-icon {
      margin-top: 10px;
      i {
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        font-size: 25px;
      }
    }
  }

  nb-card {
    nb-card-body {
      height: 470px;
    }
  }
}

.tab-wrap{
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: -6px;
  margin-left: -6px;
  margin-bottom: 15px;
  position: relative;
  .horizontal-line{
    width: 100%;
    height: 1px;
    background: #515151;
    margin: 15px;
    margin-right: 48px;
  }
  span{
    font-size: 18px;
    color: rgb(66, 66, 66);
    padding-top: 6px;
  }
  button{
    background: white;
    border: none;
    outline: none;
    border-radius: 50px;
    position: relative;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 3px;
    i{
      color: rgb(126, 126, 126);
      position: absolute;
      font-size: 14px;
    }
    .ion-top{
      top: 5px;
      left: 12px;
    }
    .ion-bot{
      top: 14px;
      left: 12px;
    }
  }
  button:hover{
    background: rgb(247, 247, 247);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
}
