<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <div>
          <span *ngFor="let item of charts" [hidden]="!item.show">
            {{item.type}}
          </span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngFor="let item of charts">
          <ngx-chartjs-pie *ngIf="item.show && item.type === 'Pie'"></ngx-chartjs-pie>
          <ngx-chartjs-bar *ngIf="item.show && item.type === 'Bar'"></ngx-chartjs-bar>
          <ngx-chartjs-line *ngIf="item.show && item.type === 'Line'"></ngx-chartjs-line>
          <ngx-chartjs-multiple-xaxis *ngIf="item.show && item.type === 'Area'"></ngx-chartjs-multiple-xaxis>
          <ng2-smart-table *ngIf="item.show && item.type === 'Table'" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" reset></ng2-smart-table>
        </div>
        <div class="select-items-wrap">
          <div>
            <div *ngFor="let item of charts">
              <i class="fa fa {{ item.icon }} item-icon" *ngIf="item.show" (click)="change()"></i>
            </div>
          </div>
          <div class="select-items" *ngIf="showSelectItems">
            <div class="select-item" *ngFor="let item of charts" (click)="select(item)">
              <i class="fa fa {{ item.icon }}"></i>
              <span>{{item.label}}</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!--<div class="col-lg-6">-->
    <!--<nb-card>-->
      <!--<nb-card-header>Bar</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--<ngx-chartjs-bar></ngx-chartjs-bar>-->
      <!--</nb-card-body>-->
    <!--</nb-card>-->
  <!--</div>-->
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Horizontal</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
