<div class="basic-container md-padding" layout="row">
	<mat-grid-list cols="4" rowHeight="400px" *ngIf="!this.showFillerLibraryPage" >
		<mat-grid-tile *ngFor="let notification of notificationList" (click)="showFillerLibPage(notification)">
			<mat-card class="example-card cursor_pointer" rowHeight="400px">
			  <img mat-card-image src="../../../assets/images/notification_header.png" alt="Photo of a Shiba Inu">
			  <mat-card-header>
			  	
			    <!-- <div mat-card-avatar class="example-header-image"></div>
			    <mat-card-title>Shiba Inu</mat-card-title>
			    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
			  </mat-card-header>	  
			  <mat-card-content >
			  	<div class="card-content-height">
				  	<h3>{{notification.title}}</h3>
				    <p>{{notification.body}}</p>
			    </div>
			    <div class="fillerSingleRow" *ngIf="notification && notification.Customer_Segment_ID">
			    		<span	 *ngFor="let custSegIndex of  Object.keys(notification.Customer_Segment_ID)">
							<span class="tagbutton" [ngStyle]="{'background-color': getRandomColor(notification,custSegIndex)}">
								<span>
									{{notification.Customer_Segment_ID[custSegIndex].name}}
								</span>
							</span>					
						</span>
			    </div>
				
			  </mat-card-content>
			  <mat-card-actions style="    text-align: right;">
			  	 <span class="notification_edit_icon">
			  	 	<i _ngcontent-c10="" class="nb-edit"></i>
			  	 </span>
			  	 <span class="notification_edit_icon">
			  	 	<i _ngcontent-c10="" class="nb-trash"></i>
			  	 </span>
			  	 <span class="notification_edit_icon">
			  	 	<i class="nb-paper-plane"></i>
			  	 </span>
			  </mat-card-actions>
			</mat-card>
		</mat-grid-tile> 
		
		
		<mat-grid-tile (click)="showFillerLibPage({})">
			<mat-card class="example-card cursor_pointer" rowHeight="400px" style="width:100%">
			  <mat-card-header>
			  	&nbsp;
			  </mat-card-header>	  
			  <mat-card-content >
			  	<br>
			  	<br>
			  	<div _ngcontent-c10="" class="new_prj_icon_span" style="height: 233px;text-align:center">
						<i _ngcontent-c10="" class="nb-plus-circled new_prj_icon"></i>
					    <span style="font-size: 1.4em;">Create new <br>notification template</span>
				</div>
			  	 
			  </mat-card-content>
			  <mat-card-actions>
			    &nbsp; 
			  </mat-card-actions>
			</mat-card>
		</mat-grid-tile> 
	</mat-grid-list>
	
	<ngx-filler-library *ngIf="showFillerLibraryPage" [selectedNotification]="selectedNotification" (eventEmitter)="getNotification($event)"></ngx-filler-library>
</div>  