<nb-card>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 br-1">
                <div class="row">
                    <div class="col-sm-12 bb-1">
                        <div class="title header-title-left">classification<br> matrix</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 br-1">
                        <div class="title body-left-text">Predicted Churn</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 bb-1">
                                <div class="title body-right-text">positive</div>
                            </div>
                            <div class="col-sm-12">
                                <div class="title body-right-text">negative</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 b-2">
                <div class="row">
                    <div class="col-sm-12 pt-2 pb-2 bb-1">
                        <div class="title">Observed Churn</div>
                    </div>
                    <div class="col-sm-6 pt-2 pb-2 bb-1 br-1">
                        <div class="title">positive</div>
                    </div>
                    <div class="col-sm-6 pt-2 pb-2 bb-1">
                        <div class="title">negative</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row bb-1">
                            <div class="col-sm-6 br-1">
                                <div class="value">
                                    14,505
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="value">
                                    1,669
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 br-1">
                                <div class="value">
                                    541
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="value">
                                    18,133
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nb-card>