<nb-card>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6 br-1">
        <div class="row">
          <div class="col-sm-12 bb-1">
            <div class="title header-title-left">classification<br> matrix</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 br-1">
            <div class="title body-left-text">modal response</div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12 bb-1">
                <div class="title body-right-text">positive</div>
              </div>
              <div class="col-sm-12">
                <div class="title body-right-text">negative</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 b-2">
        <div class="row">
          <div class="col-sm-12 pt-2 pb-2 bb-1">
            <div class="title">target behaviour</div>
          </div>
          <div class="col-sm-6 pt-2 pb-2 bb-1 br-1">
            <div class="title">positive</div>
          </div>
          <div class="col-sm-6 pt-2 pb-2 bb-1">
            <div class="title">negative</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row bb-1">
              <div class="col-sm-6 br-1">
                <div class="value">
                  15,161
                </div>
              </div>
              <div class="col-sm-6">
                <div class="value">
                  2,431
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 br-1">
                <div class="value">
                  6,437
                </div>
              </div>
              <div class="col-sm-6">
                <div class="value">
                  321,431
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nb-card>

