<div class="row">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-sm-12 stackbar">
                <chart-switcher *ngIf="country" [title]="'Country'" [data]="country"></chart-switcher>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 stackbar">
                <chart-switcher *ngIf="region" [title]="'Region'" [data]="region"></chart-switcher>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 stackbar">
                <chart-switcher *ngIf="mobile" [title]="'Mobile Brand'" [data]="mobile"></chart-switcher>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 stackbar">
                <chart-switcher *ngIf="affluence" [title]="'Affluence'" [data]="affluence"></chart-switcher>
            </div>
        </div>



    </div>
</div>