<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-12">
        <chart-switcher *ngIf="country" [title]="'Country'" [showMap]="true" [data]="country"></chart-switcher>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <chart-switcher *ngIf="region" [title]="'Region'" [data]="region"></chart-switcher>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <chart-switcher *ngIf="mobile" [title]="'Mobile Brand'" [data]="mobile"></chart-switcher>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <chart-switcher *ngIf="affluence" [title]="'Affluence'" [data]="affluence"></chart-switcher>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <chart-switcher *ngIf="Platform" [title]="'Platform'" [data]="Platform"></chart-switcher>
      </div>
    </div>

  </div>
</div>
