<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <chart-switcher-smart-price [chartsValue]="['Table', 'ePie']" [title]="'User Distribution based on user history'"></chart-switcher-smart-price>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <chart-switcher-smart-price [chartsValue]="['eBar', 'ePie']" [title]="'Price recommendation'"></chart-switcher-smart-price>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <chart-switcher-smart-price [chartsValue]="[ 'eBar', 'ePie']" [title]="'Existing Revenue vs Projected Revenue'"></chart-switcher-smart-price>
    </div>
  </div>
</div>
