// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();



  // form validation
  input.ng-invalid.ng-dirty{
    border: 1px solid red;
  }

  button:hover,a.btn:hover{
    cursor: pointer;
  }

  // notification css
  .noti_nb_card1{
    margin-bottom: 0.8em;
  }
  .noti_nb_header1{
    padding-top: 0.7em;padding-bottom: 0.7em;
  }
  .noti_nb_body1{
    padding-top: 0.7em;padding-bottom: 0.7em;
  }
  .noti_nb_header2{
    padding-top: 0.5em; padding-bottom: 0.5em;
  }
  .noti_nb_header2_span{
    float: right;
    background: #4aa3df;
    border-radius: 0.4em;
    padding: 6px;
    text-transform: capitalize;
  }
  .noti_nb_card_header3{
    font-size: 1em;
    border: 2px solid #d5d8dc
  ;border-bottom: 0;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .noti_nb_body2{
    padding: 0;overflow: hidden;
  }
  .noti_nb_select{
    height:100%;
  }

  .noti_nb_button1{
    margin: 5px;
    padding: 5px;
    text-transform: capitalize;
    background: white;
    color: #807a7a;
    border-radius: 20px;
    font-size: 0.7em;
    /* border-color: black; */
    border: solid 2px #dadfe6;
  }
  .noti_nb_button2{
    margin-right: 18px;   background: none; width: 40px;height: 40px; padding: 0;
  }


  // notification-list css
  .noti_list_title{
    border: 2px solid #dadfe6;
    padding: 1em;   border-radius: 0.375rem;
    text-align: left;

  }
  .noti_list_header10{
    margin-bottom: 0;
    text-align: center;
    height: 300px;
  }
  .noti_list_nb_card_header10{
    color: white;
    background: #4aa3df;
    padding: 0.7em;
  }
  .noti_list_p10{
    font-size: 0.7em;
    margin: 0;
  }
  .noti_list_height10{
    height: 21.8em;
  }
  .noti_list_nb_card_header20{
    padding: 0.7em;
  }
  .noti_list_p20{
    font-size: 0.7em;margin: 0;text-align:center;
  }
  .noti_list_nb_body10{
    border: solid 2px #dadfe6;
    border-radius: 10px;
    margin-bottom:1em;
  }
  .noti_list_nb_bod_a10{
    width: 100%;padding: 0;cursor:pointer;
  }
  .noti_list_nb_bod_div10{
    border:0px;
    padding-bottom: 0;
  }
  .noti_list_nb_bod_p10{
    font-weight: bold;  margin-bottom: 5px;word-wrap: break-word;
  }
  .noti_list_nb_bod_span{
    font-size: 11px;word-wrap: break-word;
  }
  .noti_list_nb_bod_a20{
    padding-top: 0;
    margin-left: 12em;
  }


};

// rows heights
.wrapper > div > div > ng2-smart-table > table > tbody > tr > td{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.wrapper > div > div > ng2-smart-table > table > tbody > tr > td > ng2-st-tbody-edit-delete > a, .wrapper > div > div > ng2-smart-table > table > tbody > tr > td > ng2-st-tbody-custom > a{
  height: 28px !important;
}
chart-switcher > nb-card > nb-card-body > div:nth-child(4) > div > ng2-smart-table > table > tbody > tr > td.ng2-smart-actions > ng2-st-tbody-edit-delete > a{
  top: 14px;
  position: relative;
}

// footer country 

.footer-country{
  padding: 1.25rem !important;
  border-top: none !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  padding-bottom: 36px !important;
}
 

// Smart-table bitton
.header-smart-table{
  padding: 0 !important;
  .system-wrap{
    display: flex;
    margin-bottom: 20px;
    button{
      width: 50%;
      background: none;
      border: 1px solid #d7d7d7;
      text-align: center;
      padding: 20px;
      outline: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .dropdown-smart-table{
    padding-left: 50px;
  }
}

// Modal page
.modal-wrap{
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.51);
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  border-radius: 5px;
  padding: 10px;
  .modal-wrap-second{
    position: relative;
    .modal-wrap-iside{
      position: absolute;
      background: white;
      width: 100%;
      top: 190px;
      border-radius: 5px;
      .heared-modal{
        text-align: center;
        border-bottom: 1px solid #cbcbcb;
        position: relative;
        padding: 8px;
        .close-icon-wrap{
          position: absolute;
          right: 4px;
          background: none;
          border: none;
          outline: none;
          color: #9e9e9e;
        }
      }
      .main-content-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
.next-button > button, .prew-button > button{
  background: none;
  border: none;
  outline: none;
  color: #9e9e9e;
  font-size: 40px;
}

// size doble-page

.small-wrap > div > chart-switcher > nb-card{
  max-height: 334px !important;
}