<nb-card>
  <nb-card-header>
    <div>
          <span *ngFor="let item of charts" [hidden]="!item.show || title">
            {{item.type}}
          </span>
          <span *ngIf="title">
            {{title}}
          </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngFor="let item of charts">
      <!--<ngx-chartjs-pie></ngx-chartjs-pie>-->
      <ngx-echarts-pie *ngIf="item.show && item.type === 'Pie'"></ngx-echarts-pie>
      <ngx-echarts-bar *ngIf="item.show && item.type === 'Histogram'"></ngx-echarts-bar>

      <ngx-chartjs-bar *ngIf="item.show && item.type === 'Bar'"></ngx-chartjs-bar>
      <!--<ngx-chartjs-line *ngIf="item.show && item.type === 'Line'"></ngx-chartjs-line>-->
      <!--<ngx-chartjs-multiple-xaxis *ngIf="item.show && item.type === 'Area'"></ngx-chartjs-multiple-xaxis>-->
      <ngx-echarts-line *ngIf="item.show && item.type === 'Line'"></ngx-echarts-line>

      <div>
        <ng2-smart-table *ngIf="item.show && item.type === 'Table'" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" reset></ng2-smart-table>
      </div>
    </div>
    <div class="select-items-wrap">
      <div>
        <div *ngFor="let item of charts">
          <i class="fa fa {{ item.icon }} item-icon" *ngIf="item.show" (click)="change()"></i>
        </div>
      </div>
      <div class="select-items" *ngIf="showSelectItems">
        <div class="select-item" *ngFor="let item of charts" (click)="select(item)">
          <i class="fa fa {{ item.icon }}"></i>
          <span>{{item.label}}</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
