<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="main_wapper">
         <!--Table Start-->
         <div class="notification-scheduler">
            <div class="container">
               <div class="col-md-8 col-md-offset-2">
                  <div class="nf-detail">
                     <div class="page-title">
                        <a href="#"><img src="assets/images/Arrow.png" alt=""></a>
                        <h1>notification scheduler</h1>
                     </div>
                     <div class="table-responsive">
                      
                        <table data-toggle="table" data-cache="false" data-height="300" class="table table-bordered table-striped">
                           <thead>
                              <tr>
                                 <th>Customer Segments</th>
                                 <th>Scheduling</th>
                              </tr>
                           </thead>
                           <form (ngSubmit)="onTransfer(fmTransfer)" #fmTransfer="ngForm">
                           <tbody>
                              <tr>
                                 <td>High Churner</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                       <!-- <select class="form-control" id="sel1">
                                          <option>Once a day</option>
                                          <option>Once a day 2</option>
                                          <option>Once a day 3</option>
                                          <option>Once a day 4</option>
                                       </select> -->
                                    <select class="form-control" name ="optionSelected" id="sel1" required [(ngModel)]='norahscheduler[0].high_churner.first'>
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                    </select>
                                   
                                    
                                    </div>
                                    <br>
                                    <span class="green">* {{norahscheduler[0].high_churner.first}}</span>

                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                       <!-- <select class="form-control" id="sel1">
                                          <option>Once a day</option>
                                          <option>Once a day 2</option>
                                          <option>Once a day 3</option>
                                          <option>Once a day 4</option>
                                       </select> -->
                                    <select class="form-control" id="sel1" name ="optionSelected4" required [(ngModel)]='norahscheduler[0].high_churner.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                    </select>
                                   
                                    
                                    </div>
                                    <br><br>
                                    <span class="green">*{{norahscheduler[0].high_churner.second}}</span>
                                 </td>
                              </tr>

                              <tr>
                                 <td>Regular</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                        <select class="form-control" id="sel1" name ="optionSelected2" required [(ngModel)]='norahscheduler[0].regular.first' >
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                    <br>
                                    <span class="red">*{{norahscheduler[0].regular.first}}</span>
                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                        <select class="form-control" name ="optionSelected5"  id="sel1" required [(ngModel)]='norahscheduler[0].regular.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                    <br><br>
                                    <span class="red">*{{norahscheduler[0].regular.second}}</span>
                                 </td>
                              </tr>
                              <tr>
                                 <td>Loyal</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected3" required [(ngModel)]='norahscheduler[0].loyal.first'>
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                    <br>
                                    <span class="red">* {{norahscheduler[0].loyal.first}}</span>
                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected6" required [(ngModel)]='norahscheduler[0].loyal.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                    <br><br>
                                    <span class="red">* {{norahscheduler[0].loyal.second}}</span>
                                 </td>
                              </tr>
                              <tr>
                                 <td colspan="3">High Affluence</td>
                                 <td colspan="3"></td>
                              </tr>
                              <tr>
                                 <td colspan="3"></td>
                                 <td colspan="3"></td>
                              </tr>
                              <tr>
                                 <td colspan="3"></td>
                                 <td colspan="3"></td>
                              </tr>
                              <tr>
                                 <td colspan="3"></td>
                                 <td colspan="3"></td>
                              </tr>
                              <tr>
                                 <td colspan="3"></td>
                                 <td colspan="3"></td>
                              </tr>
                           </tbody>
                           <button type="submit"  class="btn btn-primary" >Save</button>
                           <button type="button" (click)="reset()" class="btn btn-primary" >Reset</button>
                        </form>
                        </table>
                       

                        <div class="action-btn">
                            <a href="#"><img src="assets/images/check.png" alt=""></a>
                            <a href="#"><img src="assets/images/close.png" alt=""></a>
                            <a href="#"><img src="assets/images/refresh.png" alt=""></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--Table Start-->
      </div>
       <script src="http://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
    <script src="http://rawgithub.com/rochal/jQuery-slimScroll/master/jquery.slimscroll.js"></script>
    <script>
        $(document).ready(function () {
  $('.fixed-table-body').slimScroll({});
});
    </script>