
<div class="main_wapper">
         <!--Table Start-->
         <div class="notification-scheduler">
            <div class="container">
              <div class="col-md-8 col-md-offset-2">
                  <div class="nf-detail">
                     <div class="page-title">
                        <a href="#"><img src="images/Arrow.png" alt=""></a>
                        <h1>notification scheduler</h1>
                     </div>
                     <div class="table-responsive">
                        <form class="sched_btn" (ngSubmit)="onTransfer(fmTransfer)" #fmTransfer="ngForm">
                        <table data-toggle="table" data-cache="false" data-height="300" class="table table-bordered table-striped">
                           <thead>
                              <tr>
                                 <th>Customer Segments</th>
                                 <th colspan="2" style="text-align: center;">Scheduling</th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>High Churner</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                         <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       
                                       <select class="form-control" name ="optionSelected" id="sel1" required [(ngModel)]='norahscheduler[0].high_churner.first'>
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                      </select>
                                    </div>
                                    <div class="message"><span class="green">*{{norahscheduler[0].high_churner.first}}</span></div>
                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected4" required [(ngModel)]='norahscheduler[0].high_churner.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                     <div class="message"><span class="red">*{{norahscheduler[0].high_churner.second}}</span></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>Regular</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected2" required [(ngModel)]='norahscheduler[0].regular.first' >
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                      </select>
                                    </div>

                                     <div class="message"><span class="red">*{{norahscheduler[0].regular.first}}</span></div>
                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       <select class="form-control" name ="optionSelected5"  id="sel1" required [(ngModel)]='norahscheduler[0].regular.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                      </select>
                                    </div>
                                     <div class="message"><span class="red">*{{norahscheduler[0].regular.second}}</span></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>Loyal</td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected3" required [(ngModel)]='norahscheduler[0].loyal.first'>
                                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                    </select>
                                    </div>
                                     <div class="message"><span class="red">*{{norahscheduler[0].loyal.first}}</span></div>
                                 </td>
                                 <td>
                                    <div class="rail-select">
                                       <div class="select-side">
                                          <i class="fa fa-caret-down fa-2x" style="margin: 25%;"></i>
                                       </div>
                                       <select class="form-control" id="sel1" name ="optionSelected6" required [(ngModel)]='norahscheduler[0].loyal.second'>
                                        <option class='option' *ngFor='let option of options2' [value]="option">{{option}}</option>
                                      </select>
                                    </div>
                                     <div class="message"><span class="red">*{{norahscheduler[0].loyal.second}}</span></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>High Affluence</td>
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td ></td>
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td ></td>
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td></td>
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td></td>
                                 <td colspan="2"></td>
                              </tr>
                           </tbody>
                        </table>
                         <div class="action-btn">
                            <a href="javascript:void(0);" (click)="onTransfer(fmTransfer)"><img src="assets/images/check.png" alt=""></a>
                           <!--  <a href="#" (click)="reset()"><img src="assets/images/close.png" alt=""></a> -->
                            <a href="javascript:void(0);" (click)="reset()"><img src="assets/images/refresh.png" alt=""></a>
                        </div>
                      </form>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--Table Start-->
      </div>
       <script src="http://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
    <script src="http://rawgithub.com/rochal/jQuery-slimScroll/master/jquery.slimscroll.js"></script>
    <script>
        $(document).ready(function () {
  $('.fixed-table-body').slimScroll({});
});
    </script>