@media (min-width: 1200px) and (max-width: 1300px) {} 


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
  .action-btn {
      position: absolute;
      bottom: inherit;
      right: 40px;
      margin: -64px 0 0 0;
  }
}

@media (max-width: 767px) {
  .action-btn {
      position: absolute;
      bottom: inherit;
      right: 40px;
      margin: -64px 0 0 0;
  }
}

@media (min-width: 567px) and (max-width: 767px){}

@media (min-width: 480px) and (max-width: 567px){}

@media (min-width: 320px) and (max-width: 480px){}



 
 /*===== Common Class =====*/
html
{
    -webkit-font-smoothing: antialiased;
}

body
{
    font-size: 14px;
    margin: 0   !important;
    padding: 0  !important ;
    font-family: 'AvenirLTStdRoman_0';
    background: #eeeeee;
}

*
{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover
{
    text-decoration: none  ;
    outline: none;
}

a:focus,
select:focus
{
    outline: none;
}



a,
input,
button,
textarea
{
    outline: none !important;
}

img
{
    margin: 0;
    padding: 0;
    border: 0;
}

:focus
{
    outline: none;
}

.fr
{
    float: right !important;
}

.fl
{
    float: left !important;
}

/*====================================
      Bootstrap Class override Strat
======================================*/

@media (min-width: 768px)
{
    .container
    {
        width: 750px;
    }
}

@media (min-width: 992px)
{
    .container
    {
        width: 970px;
    }
}

@media (min-width: 1200px)
{
    .container
    {
        width: 1230px;
    }
}

.navbar-inverse
{
    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
    background: none;
}




/* Home page start  */

.main_wapper
{   position: relative;
    float: left;
    width: 100%;
}

.nf-detail {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin: 30px 0;
}
.page-title h1 {
    font-size: 17px;
    text-transform: uppercase;
}
.page-title img {
    float: left;
    padding: 0 10px 0 0;
}
.page-title {
    padding: 15px;
}
.nf-detail table tr td {
    color: #8c8c8c;
}
.nf-detail table td {
    
}
.nf-detail .table-striped {

}
.nf-detail .table-bordered {
    border: none;
}
.nf-detail table tr td {
    border:none !important;
        border-left: 1px solid #ddd !important;
}
.nf-detail table thead {
    border-top: 1px solid #ddd !important;   
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.nf-detail table tbody tr td {
    padding: 8px 8px;
    width: 55.1%;
    position: relative;
    vertical-align: middle;
        height: 58px;
}

.rail-select {
  position: absolute;
    width: 177px;
    margin: 0 auto;
    left: 19%;
    top: 7px;
}
.rail-select .form-control {
    padding: 4px 12px;
}
.rail-select select {
  border: solid 1px #d1d1d1;
  border-radius: 3px;
  font-size: 11px;
  color: gray;
  height: 26px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-weight: 600;
  color: #000000;
}
.rail-select select:focus {
  outline: none;
  box-shadow: none;
  border: solid 1px #d1d1d1;
}
.rail-select .select-side {
  pointer-events: none;
  width: 40px;
  position: absolute;
  top: 0px;
  
  height: 100%;
  right: 0;
  border-radius: 0px 3px 3px 0px;
  border-right: solid 1px #d1d1d1;
  border-top: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
}
.rail-select .select-side:before {
  border-left: solid 1px lightgrey;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  /* or 100px */
}
.rail-select .select-side i {
  left: 37%;
  top: 4px;
  color: #757575;
}
.rail-select .glyphicon-triangle-bottom:before {
    font-size: 11px;
}
.rail-select .select-side i.blue {
  color: #4E7AF0;
}
.nf-detail table {
    margin-bottom: 0px;
}
.nf-detail table tbody tr td span {
    display: inline-block;
    /* float: left; */
    /* clear: both; */
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 66px 0;
}
.nf-detail table tbody tr td span.green {
    color: #2ac878;
}
.nf-detail table tbody tr td span.red {
    color: #e83b3b;
}
.nf-detail table tr td:first-child {
    border: none !important;
}
.nf-detail table thead tr th {
    border-right: none;
    border-bottom: 1px solid #d1d1d1;
    border-left: none;
}
.nf-detail table thead tr th:first-child {
    border-right: 1px solid #d1d1d1;
}
.action-btn {
    position: absolute;
}
.action-btn a {
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    padding: 8px 0;
    border-radius: 100px;
    background: #41addd;
    margin: 0 10px 0 0;
}
.action-btn {
    position: absolute;
    bottom: 50px;
    right: 40px;
}
/*--------------- header wrapper start -------*/


